*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.container {
	width: 100%;
	display: flex;
    /* makes columns stand next to one another 
    and not stack up one on top of another */
   	flex-wrap: wrap;
}

.map {
    height: 700px;
    width: 75%;
}

.menubar {
	width: 25%;
	display: flex;
   	flex-wrap: wrap;
}

.menubartop {
	width: 100%;
}

.menubarbottom {
	width: 100%;
}

#filter-box {
    display: block;
    border: 1px solid #000000;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 150px;
    height: 30px;
    text-align: center;
}

#location {
    text-align: center;
}

#location-name {
    font-weight: bold;
    text-decoration: underline;
}

#location-image {
    height: 90px;
    border: 1px;
    border-radius: 3px;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 100px) {
	.map {
		width: 100%;
	}
	.menubar {
		width: 100%;
		display: flex;
   		flex-wrap: wrap;
	}
	.menubartop, .menubarbottom {
		width: 100%;
	}
}

@media screen and (min-width: 300px) {
	.map {
		width: 100%;
	}
	.menubar {
		width: 100%;
		display: flex;
   		flex-wrap: wrap;
	}
	.menubartop, .menubarbottom {
		width: 50%;
	}
}

@media screen and (min-width: 640px) {
	.map {
		width: 75%;
	}
	.menubar {
		width: 25%;
	}
	.menubartop, .menubarbottom {
		width: 100%;
	}
	#location-image {
		height: 100px;
	}
}

@media screen and (min-width: 770px) {
	#location-image {
		height: 100px;
	}
}

@media screen and (min-width: 900px) {
	.map {
		width: 80%;
	}
	.menubar {
		width: 20%;
	}
	#location-image {
		height: 100px;
	}
}

@media screen and (min-width: 1050px) {
	.map {
		width: 80%;
	}
	.menubar {
		width: 20%;
	}
	#location-image {
		height: 140px;
	}
}
