*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.top-bar {
    width: 100%;
    display: flex;
    /* makes columns stand next to one another 
    and not stack up one on top of another */
    flex-wrap: wrap;
}

.container {
	/*width: 100%;*/
	display: flex;
	flex-wrap: wrap;
}

.map {
    height: 700px;
    width: 75%;
}

.menubar {
	width: 25%;
}

#filter-box{
    display: block;
    border: 1px solid #000000;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 150px;
    height: 30px;
    text-align: center;
}

#location {
    text-align: center;
}

#location-name {
    font-weight: bold;
    text-decoration: underline;
}

#location-image {
    height: 120px;
    border: 1px;
    border-radius: 3px;
}
